[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
pytest-django = "*"
django-extensions = "*"
model-bakery = "*"
djangorestframework = "*"
django-filter = "*"
django-cors-headers = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
dj-rest-auth = "*"
python-dateutil = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
black = "*"
install = "*"
factory-boy = "*"
model-bakery = "*"
pytest-cov = "*"
jupyter = "*"
pydevd-pycharm = "~=233.13763.11"

[requires]
python_version = "3.12"
