SECRET_KEY=DJANGO_SUPER_SECRET_KEY
DEBUG=True
ALLOWED_HOSTS=*
DATABASE_URL=postgres://USER:PWD@HOST:PORT/DB
LANGUAGE_CODE=pt-br
TIME_ZONE=America/SaoPaulo
EXPIRATION_DELTA=1
REFRESH_EXPIRATION_DELTA=7

MAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
MAIL_HOST=main.com
MAIL_DEFAULT_FROM=noreply@geraldo.io
MAIL_SERVER=geraldo.io
MAIL_HOST_USER=a
MAIL_HOST_PASSWORD=a
MAIL_PORT=587
MAIL_USE_TLS=False